{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 version"],
        "node": 8
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}