{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-debugger": 1,
    "no-console": 1,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/no-danger": 0
  }
}